@charset "UTF-8";
p {
	color: #444444;
	margin: 15px 110px;
	font-size: 20px;
	font-weight: bold;
}

.user_option{
	box-shadow: 0.5px 0.5px 10px #c8c8c8;
	box-shadow: -0.5px -0.5px 10px #d4d4d4;
	margin-left:30px;
	margin-right:30px;
	border-radius:20px;
	height: 280px;
}
.user_option_subject{
	color: #a1a1a1;
	font-weight: bold;
	margin-left: 45px;
	margin-top: 5px;
}

.user_option_content{
	width:90%;
	padding-top:20px;
	padding-left:20px;
	height: 100%;
	margin: auto 60px auto 60px;
	border-radius: 20px;
}

.option_first{
	height:35px;
    float: left;
    width:15%;
    box-sizing: border-box;
    margin-bottom: 10px
}
.option_second{
	height:35px;
    float: left;
    width:42.5%;
    box-sizing: border-box;
    margin-bottom: 10px
}
.option_third{
	height:35px;
    float: left;
    width:42.5%;
    box-sizing: border-box;
    margin-bottom: 10px
}

/* ajax css */


.table {
	box-shadow: 0.5px 0.5px 10px #c8c8c8;
	box-shadow: -0.5px -0.5px 10px #d4d4d4;
	margin-top:50px;
	margin-left:30px;
	margin-right:30px;
	border-radius:20px;
	height: 300px;
	
}

.table_subject {
	border-bottom: 0.5px dotted;
	display: flex;
	height: 35px;
	line-height: 15px;
}
.table_content {
	display: flex;
	cursor: pointer;
}
.table_content:hover {
	background-color:rgba(0, 0, 0, 0.2);
}

.table_1 {
	margin-top:5px;
	text-align:center;
	flex:5;
	font-size: 20px;
	color: gray;
}
.table_2 {
	margin-top:5px;
	text-align:center;
	flex:5;
}

.none{
	flex:1;	
	text-align: center;
	font-size: 20px;
	
}




