@charset "UTF-8";

.wrapper_subject {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #444444;
}

.admin_product{
/* 	display: inline-block; */
    margin: 30px auto;
    padding: 0 20px;
    padding-top: 5px;
    box-shadow: 0.5px 0.5px 10px #c8c8c8;
    box-shadow: -0.5px -0.5px 10px #d4d4d4;
    border-radius: 20px;
    max-width: 700px;
    min-width: 700px;
/*     height: auto; */
}

.myTable{
	border-collapse: collapse;
    margin: 30px auto;
}
.myTable .td_left{
	height: 30px;
	width: 100px;
	text-align: center;
	font-weight: bold;
}
.myTable .td_right{
	padding-left: 10px;
}
.myTable td{
	padding: 10px 0px;
	padding-right: 30px;
}
.myTable .td_right input[type='text']{
	width: 230px;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
}


.buttonSection{
	text-align: center;
	padding-bottom: 50px;
}

.buttonSection input{
	width: 110px;
	height: 30px;
	border-color: #199db3;
    border-bottom-color: #168da1;
    border-right-color: #168da1;
    background-color: #199db3;
    
    position: relative;
    padding: 0 7px;
    text-align: center;
    text-indent: 0;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    cursor: pointer;
    border: 3px solid transparent;
    /* 폰트 */
    color: white;
    font-weight: bold;
}

.buttonSection input:hover{
	
/* 	font-weight: bold; */
	color: #fafafa;
	border-color: #719d9d;
	background: #1981b3;
/* 	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important; */
	
}











































