@charset "UTF-8";

#sidebar_section {
	position: fixed;
    top: 180px;
    margin-left: 395px;
    left: 50%;
    z-index: 99;
}

.sidebar {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.sidebar > input {
	letter-spacing: 1px;
	width: 75px;
	height: 60px;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: #9cd6ec;
    font-size: 15px;
    font-weight: bold;
}

.sidebar > input + input {
    border-top: none;
}
.sidebar > input:hover {
    background-color: #3ea8e3;
    color: white;
    cursor: pointer;
}









