@charset "UTF-8";
.subject{
	height: 45px;
	color: #444444;
	margin: 15px 30px;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 0.4px solid;
}
.textarea1{
	height: 30px;
	width: 350px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 4px;
	resize: none;
	border-color: purple;
	border-radius: 10px;
}
.textarea2{
	height: 30px;
	width: 500px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 4px;
	resize: none;
	border-color: purple;
	border-radius: 10px;
	float: right;
}

section{
	height:600px;
	margin: 20px 50px;
}
.content{
	height:40px;
	width: 900px;
	margin-bottom: 15px;
}
.first{
	text-align:center;
	float:left;
	width: 180px;
}
.second{
	width: 550px;
}
.second2{
	width: 694px;
}
.line{
	margin: 15px 30px;
	color: #444444;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 0.4px solid;
}

.buttons{
	height: 70px;
	display: flex;
}
.button{
	flex:3;
	border-radius: 15px;
	text-align: center;
	line-height: 70px;
	font-size: 30px;
	margin-left: 30px;
	margin-right: 30px;
	cursor: pointer;
}


