@charset "UTF-8";

.wrapper {
	margin: 30px 300px;
	padding: 0 20px;
	padding-top: 5px;
	box-shadow: 0.5px 0.5px 10px #c8c8c8;
	box-shadow: -0.5px -0.5px 10px #d4d4d4;
	border-radius:20px;
	height: auto;
}

#wrapper_subject {
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #444444;
}

.product_info {
	display: flex;
	
}

.product_info > img {
	margin: 20px 0;
	width: 300px; 
	height: 370px;
}

.product_desc {
	margin: 40px 30px;;
	font-size: 16px;
	font-weight: bold;
}



























