@charset "UTF-8";

.qna{
	height: 200px;
	width: 1000px;
	border-bottom: dotted;
	border-bottom-color: gray;
	
	
}

.subject{
	font-size:28px;
	text-align: center;
}

.content{
	margin-top: 10px; 
	text-align: center;
	font-size: 15px;
}

.button{
	margin-top: 15px;
	text-align: center;
}
