@charset "UTF-8";

body {
  font-family: Arial;
  margin: 0;
}

.main_content img {
  vertical-align: middle; /* 기준의 정렬 효과 */
}

/* 메인 콘텐츠 */
.main_content{
	width: 900px; 
	margin: 0px auto; /*중앙 정렬*/
	background-color: gray;
}


/* Position the image container (needed to position the left and right arrows) */
.main_content .container {
  position: relative;
}

/* Hide the images by default */
.main_content .mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.main_content .cursor {
  
  cursor: pointer;
}
.main_content .column button{
  width: 100%;
  height: 50px;
  color: black;
  border: 1px solid gray;
  cursor: default;
}
/* Next & previous buttons */
.main_content .prev,
.main_content .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.main_content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.main_content .prev:hover,
.main_content .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.main_content .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.main_content .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.main_content .column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.main_content .demo {

  opacity: 0.2;
}

.main_content .active,
.main_content .demo:hover {
  opacity: 1;
    font-size: 14px;
  font-weight: bold;
}