@charset "UTF-8";


body {
  font-family: Arial;
  margin: 0;
}

.main{
	width: 900px;
	margin: 0px auto; /*중앙 정렬*/
}

/* section main_content 안의 내용*/ 
.main_content img {
  vertical-align: middle; /* 기준의 정렬 효과 */
}

/* 메인 콘텐츠 */
.main_content{
	width: 900px; 
	margin: 0px auto; /*중앙 정렬*/
	background-color: gray;
	margin-bottom: 20px;
}


/* Position the image container (needed to position the left and right arrows) */
.main_content .mainContainer {
  position: relative;
  clear: both; /* -float 컷- */
}

/* Hide the images by default */
.main_content .mainSlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.main_content .cursor {
  
  cursor: pointer;
}
.main_content .column button{
  width: 100%;
  height: 50px;
  color: black;
  border: 1px solid gray;
  cursor: default;
}
/* Next & previous buttons */
.main_content .prev,
.main_content .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.main_content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.main_content .prev:hover,
.main_content .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.main_content .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.main_content .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.main_content .column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.main_content .mainDemo {

  opacity: 0.2;
}

.main_content .active,
.main_content .mainDemo:hover {
  opacity: 1;
    font-size: 14px;
  font-weight: bold;
}
/* section main_content 안의 내용 끝*/ 






/* section middle_content 안의 내용 ///////////////////////////////////////////////////////////*/ 

/* 중간 콘텐츠 */
.main_middle{
	position: relative;
}
.middle_content{
	padding: 258px 0 0 250px;
	width: 330px;
	height: 80px;
	position: relative;
	
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
}

.middle_content h3 {
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 5;
}

.middle_content h3 a {
    text-decoration: none;
    color: black;
}

.middle_content .todayBUnits{
	margin-right: 16px;
	display: inline-block;
	overflow: hidden;
}

.middle_content .tBThumb{
    z-index: 2;
    position: relative;
    
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    text-align: left;
    vertical-align: bottom;
}

.middle_content .tBThumb img{
	width: 55px;
    max-height: 80px;
    vertical-align: top;
}

.middle_content .tBThumb.on img{
	margin: -4px;
}

.middle_content .on{
	border: 4px solid #196ab3;
	
}

.middle_content .tBContent{
	position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 338px;
}

.middle_content .tBImgArea{
	position: absolute;
    left: 30px;
    top: 0;
    z-index: 1;
}

.middle_content .tBImgArea a{
    float: left;
}


.middle_content .tBImgArea img{
	width: 170px;
	position: absolute;
    left: 30px;
    top: 0;
    z-index: 1;
}


.middle_content .tBInfo {
    padding: 40px 0 0 248px;
}

.middle_content .tBInfo .book_subject{
	width: 305px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    color: #6699cc;
}

.middle_content .tBInfo .book_content{
	margin-top: 4px;
    width: 300px;
    max-height: 95px;
    overflow: hidden;
    line-height: 19px;
    word-break: break-all;
    text-align: justify;
    font-size: 12px;
    color: #999;
}

.middle_content .tBInfo .book_name{
	margin-top: 16px;
    width: 305px;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.middle_content .tBInfo .book_price{
	padding-top: 10px;
    width: 300px;
    font-weight: bold;
    color: #333;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
/* section middle_right_content 안의 내용 ///////////////////////////////////////////////////////////*/
 
.middle_right_content {
	width: 240px;
	height: 340px;
/* 	border: 1px solid #d8d8d8; */
	position: absolute;
    right: 0;
    top: 0;
}
.middle_right_content .right_content_menu{
	margin: 0px;
	display: block;
}

.middle_right_content .right_sides{
	cursor: pointer;
	margin: 0px;
	float: left;
  	width: 118px;
	height: 21px;
	text-align: center;
	border: 1px solid #d8d8d8;
	border-bottom: 0px;
	color: #d8d8d8;
	background-color: white;
	position:relative;
    z-index: 1;
}
.middle_right_content .right_contents{
	position: relative;
	top: -1px;
	display: block;
	width: 218px;
    height: 297px;
    border: 1px solid black;
	
    z-index: 2;
    
    padding: 10px;
}
.middle_right_content .right_contents a{
	color: #333;
	text-decoration: none;
	
}

.middle_right_content .on{
	border: 1px solid black;
	border-bottom: 0px ;
	color: black;
    z-index: 4;
}

.middle_right_content .ranking{
	position: relative;
    height: 50px;
	list-style: none;
	display: list-item;
    text-align: -webkit-match-parent;
}

.middle_right_content .ranking>strong{
	display: block;
    position: absolute;
    left: 4px;
    top: 0;
    z-index: 1;
    overflow: hidden;
    font-size: 11px;
    color: #666;
}

.middle_right_content .ranking .ranking_image{
	position: absolute;
    left: 27px;
    top: 0;
    display: block;
    z-index: 1;
    width: 38px;
    height: 38px;
    overflow: hidden;
    border: solid 1px #d8d8d8;
}
.middle_right_content .ranking .ranking_infomation{
	display: block;
    padding: 0 0 0 76px;
}

.middle_right_content .ranking .ranking_infomation>strong{
	display: block;
    height: auto;
    min-height: 14px;
    max-height: 28px;
    line-height: 14px;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    color: #333;
    font-weight: bold;
    font-size: 11px;
}
.middle_right_content .ranking .ranking_infomation>em{
	margin-top: 2px;
    display: block;
    height: 15px;
    overflow: hidden;
    white-space: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    font-size: 11px;
    font-style: normal;
}
/* 덮어준다 */
.middle_right_content .ranking .ranking_link{
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 5px;
    z-index: 2;
    overflow: hidden;
    text-indent: -999em;
}











































































