@charset "UTF-8";

.infofr>input[type=text]{
	width: 450px;
	height: 30px;
	padding-bottom: 15px;
	text-align: left;
	margin-bottom: 20px;
}

.infofr>input[type=password]{
	width: 450px;
	height: 30px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

#dml>input[type=button]{
	width: 130px;
	height: 45px;
	display: inline-flex;
	margin: 15px;
	background-color: rgb(155, 205, 255);
}

