@charset "UTF-8";

.star-rating {width:304px; }
.star-rating,.star-rating span {display:inline-block; height:55px; overflow:hidden; background:url(../images/star.png)no-repeat; }
.star-rating span{background-position:left bottom; line-height:0; vertical-align:top; }

.productContentDetail{
	overflow: hidden;
	margin-bottom: 20px; 
	margin-top: 20px; 
}

.productDetail{
	width: 900px;
/* 	background-color: orange; */
	margin: 0px auto;
}
.productImg{
	width: 400px;
	float: left;
}

.productImg img{
	width: 400px;
	float: left;
}

.productInfo{
	margin-left: 50px;
	width: 450px;
	float: left;
}
.productInfo .productTitle{
	height: 60px;
	
	font-size: 14px;
	color: #aeaeae;
}
.productInfo .productTitle h1{
	
	margin-bottom: 16px;
	color: #3e3e3e;
    width: 450px;
    min-height: 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    overflow: hidden;
    
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productInfo .productName{
	height: 60px;
	
	font-size: 14px;
	color: #aeaeae;
}

.productInfo .productName em{
	margin-bottom: 16px;
	color: #3e3e3e;
    width: 450px;
    min-height: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    font-style: normal;
    display: block;
}

.productInfo .productType{
	height: 60px;
	
	font-size: 14px;
	color: #aeaeae;
}

.productInfo .productType em{
	margin-bottom: 16px;
	color: #3e3e3e;
    width: 450px;
    min-height: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    font-style: normal;
    display: block;
}

.productInfo .productContent{
	height: 90px;
	
	font-size: 14px;
	color: #aeaeae;
}

.productInfo .productContent em{
	margin-bottom: 16px;
	color: #3e3e3e;
    height: 210px;
    min-height: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    font-style: normal;
    display: block;
}

.productInfo .productPrice{
	height: 60px;
	
	font-size: 14px;
	color: #aeaeae;
}

.productInfo .productPrice em{
	margin-bottom: 16px;
	color: #3e3e3e;
    width: 450px;
    min-height: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    font-style: normal;
    display: block;
}

.productQuan{
	display: block;
	height: 135px;
	margin-bottom: 16px;
	
	color: green;
}

.productQuan .productQuanButton{
	margin-top: 10px;
	display: block;
	height: 30px;
}

.productQuan .productQuanButton .quanInput{
    float: left;
    
    width: 61px;
    height: 22px;
    
    line-height: 20px;
    overflow: hidden;
    
    border: solid 1px #ebebeb;
    border-top-color: #d8d8d8;
    border-left: none;
    border-right: none;
    
    font-size: 12px;
    text-align: center !important;
    color: #333;
    border-radius: 0;
    outline-style: none;
    background-color: transparent;
}

.productQuan .productQuanButton .quanText{
    float: left; 
    margin-right: 20px; 
    font-size: 12px;
    
    position:relative;
    top: 4px;
    left: 5px;
}

.productQuan .productQuanButton .quanButton{
	float: left;
	
    width: 24px;
    height: 24px;
    border: solid 1px #ebebeb;
    border-right-color: #d8d8d8;
    border-bottom-color: #d8d8d8;
    background-color: transparent;
    
    cursor: pointer;
}



.productButton{
	display: block;
	overflow:visible;
}

.productButton input[type=submit]{
	width: 110px;
	height: 30px;
	border-color: #199db3;
    border-bottom-color: #168da1;
    border-right-color: #168da1;
    background-color: #199db3;
    
    position: relative;
    padding: 0 7px;
    text-align: center;
    text-indent: 0;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    cursor: pointer;
    
    /* 폰트 */
    color: white;
    font-weight: bold;
}

.productContentImg img{
	margin: 40px 0px;
	width:900px;
}

































