@charset "UTF-8";

#wrapper{
	margin:auto;
	width: 900px;
	height:auto;
	background: #f5f5f5;
}
.FAQ{
	width: 900px;
}

.subject{
	color: gray;
	margin-top: 100px;
	font-size: 30px;
	font-weight: 500;
	margin-left: 30px;
	margin-right: 30px;
	border-bottom: 0.5px solid #ccc;
}

.content{
	font-size: 26px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 15px;
	border-bottom: 0.1px dotted #ccc;
	padding-bottom: 5px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: gray;
}

#addfaq {
	text-align:center;
	cursor: pointer;
}

































